<!DOCTYPE html>
<html lang="en" data-ng-app="">
	<head>
		<title>AngularJS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-ng-init="numWt = 0; numHt = 0;" >
		<h1>BMI Calculator</h1>
			<p>Enter weight in kilograms:
			<input type="number" data-ng-model="numWt" /></p>
			<p>Enter height in centimeters:
			<input type="number" data-ng-model="numHt" /></p>
			<p>Computed BMI is: {{numBMI = numWt / ((numHt/100)*(numHt/100)) | number : 2}}

			<span data-ng-show="numBMI<18.5">Underweight</span>
			<span data-ng-show="numBMI>=18.5 && numBMI<25">Normal</span>
			<span data-ng-show="numBMI>=25 && numBMI<30">Overweight</span>
			<span data-ng-show="numBMI>=30">Obese</span>
			</p>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- AngularJS-->
		<script src="js/angular.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
